{% extends 'base.html' %}

{% block title %} | Projects {% endblock %}

{% block content %}
<!-- Begin Page Content -->
					<div class="container-fluid">
						<!-- Page Heading -->
						<div
							class="d-sm-flex align-items-center justify-content-between mb-4"
						>
							<h1 class="h3 mb-0 text-gray-800">Projects</h1>
							<a
								href="#"
								class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
								><i class="fas fa-plus fa-sm text-white-50"></i> Create New Project</a
							>
						</div>

						<!-- Content Row -->
						<div class="row">
							<!-- Earnings (Monthly) Card Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div
													class="text-xs font-weight-bold text-primary text-uppercase mb-1"
												>
													Total Projects
												</div>
												<div
													class="h5 mb-0 font-weight-bold text-gray-800"
												>{{ no_of_projects }}</div>
											</div>
											<div class="col-auto">
												<i class="fas fa-calendar fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Earnings (Monthly) Card Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div
													class="text-xs font-weight-bold text-success text-uppercase mb-1"
												>
													Public Projects
												</div>
												<div
													class="h5 mb-0 font-weight-bold text-gray-800"
												>{{ no_of_public_projects }}</div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Earnings (Monthly) Card Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div
													class="text-xs font-weight-bold text-info text-uppercase mb-1"
												>
													Private Projects
												</div>
												<div class="row no-gutters align-items-center">
													<div class="col-auto">
														<div
															class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
														>{{ no_of_private_projects }}</div>
													</div>
													<div class="col"></div>
												</div>
											</div>
											<div class="col-auto">
												<i
													class="fas fa-clipboard-list fa-2x text-gray-300"
												></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Pending Requests Card Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-warning shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div
													class="text-xs font-weight-bold text-warning text-uppercase mb-1"
												>
													Favourites
												</div>
												<div
													class="h5 mb-0 font-weight-bold text-gray-800"
												>{{ no_of_favourite_projects }}</div>
											</div>
											<div class="col-auto">
												<i class="fas fa-comments fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

                       <!-- Begin Page Content -->
        <div class="container-fluid">


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Current Projects</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Privacy</th>
                      <th>Created On</th>
                      <th>Latest Submission</th>
                      <th>Project Owner</th>
                    </tr>
                  </thead>
                  <!--Table body-->
                  <tbody>
                    <tr>
                      {% for project in list_of_projects %}
                      <td><a href="{% url 'dashboard:project_detail' project.projectid %}">{{ project.name }}</a></td>
                      <td>{{ project.public }}</td>
                      <td>{{ project.date_created }}</td>
                      <td>{{ project.date_modified }}</td>
                      <td>{{ project_owner }}</td>
                    </tr>
                      {% endfor %}

                  </tbody>
                  <!--Table body-->
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}