{% extends 'base.html' %}

{% block title %} | Projects {% endblock %}

{% block content %}


<div class="container">
    <div class="row mt-3 pt-3" style="background-color: #eeeeee">
      <div class="col-md-6">
        <!-- Card group -->
        <div class="card-group">

          <!-- Card -->
          <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h6 class="card-title">Total Projects:</h6>
              <!-- Text -->


              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">{{ no_of_projects }}</span></p>

            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h6 class="card-title">Public Projects: </h6>
              <!-- Text -->
              <p class="card-text red-text"><i class="fas fa-thumbs-down fa-2x"></i></i><span class="ml-2" style="font-size: 30px;">{{ no_of_public_projects }}</span></p>
            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

        </div>
        <!-- Card group -->
      </div>



      <div class="col-md-6">
          <!-- Card group -->
          <div class="card-group">

            <!-- Card -->
            <div class="card mb-4">

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h6 class="card-title">Private Projects:</h6>
                <!-- Text -->


                <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">{{ no_of_private_projects }}</span></p>

              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h6 class="card-title">Favourites: </h6>
                <!-- Text -->
                <p class="card-text red-text"><i class="fas fa-angle-double-down fa-2x"></i><span class="ml-2" style="font-size: 30px;">{{ no_of_favourite_projects }}</span></p>
              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->

          </div>
          <!-- Card group -->
        </div>
    </div>
  </div>

<!-- Tables -->
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr>
      <th>Title</th>
      <th>Privacy</th>
      <th>Created On</th>
      <th>Latest Submission</th>
      <th>Project Owner</th>

    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info">
      {% for project in list_of_projects %}
      <td><a href="{% url 'dashboard:project_detail' project.projectid %}">{{ project.name }}</a></td>
      <td>{{ project.public }}</td>
      <td>{{ project.date_created }}</td>
      <td>{{ project.date_modified }}</td>
      <td>{{ project_owner }}</td>
    </tr>
      {% endfor %}

  </tbody>
  <!--Table body-->


</table>
<!--Table-->

{% endblock %}